// Colors
$accent_color: #398bf7
$font_color: #333

// Transitions
$main_transition_prop: .15s ease-in-out

// Shadows
$main_shadow_prop: 0 0 10px 0 rgba(0,0,0,0.25)
$light_shadow_prop: 0 5px 5px 0 rgba(0,0,0,0.05)
$inset_shadow_prop: inset 0 2px 2px 0 rgba(0,0,0,0.05)

// Sizes
$top_menu_height: 43px
$left_menu_height: 260px

Media
$md-device: 1440px
$sm-device: 1100px
