// Variables
@import 'vars'

// Style modules
@import 'table'
@import 'left-nav'
@import 'top-nav'
@import 'search-and-add-table-panel'

// Custom styles of default components
@import 'scroll'

// Common styles
ul
	list-style-type: none
	padding: 0
a
	color: $font_color
	transition: $main_transition_prop
	&:hover
		text-decoration: none
		color: $font_color
a, i
	transition: $main_transition_prop
.common-page
	font-size: 14px
	background-color: #ebeff3
	padding-top: $top_menu_height + 45px
	padding-bottom: 45px
	padding-right: 30px
	padding-left: $left_menu_height + 30px
	@media only screen and (max-width: $md-device)
		font-size: 14px
	@media only screen and (max-width: $sm-device)
		font-size: 12px
