@import 'vars'
@import 'table'
@import 'left-nav'

body
	background-color: #999
	overflow: hidden
	// height: 100vh
ul
	list-style-type: none
	padding: 0
a
	color: $font_color
	&:hover
		text-decoration: none
		color: $font_color
