nav.left-nav
	a.left-nav__logo <i class="fas fa-rocket"></i> logotype
	ul.left-nav__ul
		li.left-nav__category-title <i class="fas fa-envelope left-nav__category-icon"></i> корреспонденция
		li.left-nav__category-li
			a.left-nav__category-link(href="#") входящие
		li.left-nav__category-li
			a.left-nav__category-link(href="#") исходящие
		li.left-nav__category-li
			a.left-nav__category-link(href="#") черновики
	ul.left-nav__ul
		li.left-nav__category-title <i class="fas fa-briefcase left-nav__category-icon"></i> проекты
		li.left-nav__category-li
			a.left-nav__category-link(href="#") список
		li.left-nav__category-li
			a.left-nav__category-link(href="#") шаблоны отчетов
		li.left-nav__category-li
			a.left-nav__category-link(href="#") конструктор отчетов
	ul.left-nav__ul
		li.left-nav__category-title <i class="fas fa-sitemap left-nav__category-icon"></i> иерархии
	ul.left-nav__ul
		li.left-nav__category-title <i class="fas fa-database left-nav__category-icon"></i> база данных
		li.left-nav__category-li
			a.left-nav__category-link(href="#") записи
		li.left-nav__category-li
			a.left-nav__category-link(href="#") атрибуты
		li.left-nav__category-li
			a.left-nav__category-link(href="#") словари
		li.left-nav__category-li
			a.left-nav__category-link(href="#") выборки
	ul.left-nav__ul
		li.left-nav__category-title <i class="fas fa-user-friends left-nav__category-icon"></i> пользователи
		li.left-nav__category-li
			a.left-nav__category-link(href="#") активные
		li.left-nav__category-li
			a.left-nav__category-link(href="#") архив
		li.left-nav__category-li
			a.left-nav__category-link(href="#") отчеты
		li.left-nav__category-li
			a.left-nav__category-link(href="#") логи
	ul.left-nav__ul
		li.left-nav__category-title <i class="fas fa-chart-bar left-nav__category-icon"></i> аналитика
		li.left-nav__category-li
			a.left-nav__category-link(href="#") статистика
		li.left-nav__category-li
			a.left-nav__category-link(href="#") шаблоны отчетов
		li.left-nav__category-li
			a.left-nav__category-link(href="#") конструктор отчетов
