.search-and-add-table-panel-container
	.uk-inline
		span.uk-form-icon.uk-form-icon-flip.search-and-add-table-panel__search-field-icon <i class="fas fa-search"></i>
		input.uk-input.search-and-add-table-panel__search-field(placeholder="Search...")
	.search-and-add-table-panel-container__add-btn-container
		button.uk-button.uk-button-default.search-and-add-table-panel-container__add-btn.search-and-add-table-panel-container__add-btn--primary Создать группу атрибутов 
		button.uk-button.uk-button-default.search-and-add-table-panel-container__add-btn.search-and-add-table-panel-container__add-btn--accent Создать атрибут
