//- Script should give to tr level-class and last of level class
table.uk-table.uk-table-divider.uk-table-striped.uk-table-hover.uk-table-small.database-table
	thead.database-table__thead
		tr
			th Название
			th Тип
	tbody.database-table__tbody
		tr.database-table__tr.database-table__tr--level-0
			td Черниговская
			td обл.
		tr.database-table__tr.database-table__tr--level-1.database-table__tr--last-of-level
			td Буковинский
			td р-н.
		tr.database-table__tr.database-table__tr--level-2.database-table__tr--last-of-level
			td Чернигов
			td м.
		tr.database-table__tr.database-table__tr--level-3.database-table__tr--last-of-level
			td Центральный
			td мр-н
		tr.database-table__tr.database-table__tr--level-4.database-table__tr--last-of-level
			td Тараса Шевченко
			td вул.
		tr.database-table__tr.database-table__tr--level-5
			td 1-11, 39-58, 84-200
			td буд.
		tr.database-table__tr.database-table__tr--level-5.database-table__tr--last-of-level
			td 13
			td буд.
		tr.database-table__tr.database-table__tr--level-1.database-table__tr--last-of-level
			td Нежинский
			td р-н.
		tr.database-table__tr.database-table__tr--level-2.database-table__tr--last-of-level
			td Плавні
			td с.
		tr.database-table__tr.database-table__tr--level-3.database-table__tr--last-of-level
			td Нежинский
			td мр-н
		tr.database-table__tr.database-table__tr--level-4.database-table__tr--last-of-level
			td Ярослава Мудрого
			td наб.
		tr.database-table__tr.database-table__tr--level-5.database-table__tr--last-of-level
			td 1
			td буд.
		tr.database-table__tr.database-table__tr--level-6.database-table__tr--last-of-level
			td 1-20, 30-50, 60-70
			td кв.
		tr.database-table__tr.database-table__tr--level-3.database-table__tr--last-of-level
			td Чумацький шлях
			td б-р
		tr.database-table__tr.database-table__tr--level-4.database-table__tr--last-of-level
			td 1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21
			td буд.
