nav.top-nav
	.top-nav__nav-container
		h2.top-nav__current-page-title база данных:
		ul.top-nav__ul
			li.top-nav__li
				a.top-nav__link(href="#") записи
			li.top-nav__li
				a.top-nav__link.top-nav__link--active(href="#") атрибуты
			li.top-nav__li
				a.top-nav__link(href="#") словари
			li.top-nav__li
				a.top-nav__link(href="#") выборки
	.top-nav__user-container
		p.top-nav__user-name иннокентий виссарионович
		<i class="fas fa-sign-out-alt top-nav__user-logout-icon"></i>
