.database-table__tr--level-1 {
  border-left: solid 40px transparent; }

.database-table__tr--level-2 {
  border-left: solid 80px transparent; }

.database-table__tr--level-3 {
  border-left: solid 120px transparent; }

.database-table__tr--level-4 {
  border-left: solid 160px transparent; }

.database-table__tr--level-5 {
  border-left: solid 200px transparent; }

.database-table__tr--level-6 {
  border-left: solid 240px transparent; }

.database-table__tr--level-7 {
  border-left: solid 280px transparent; }

.database-table__tr--level-8 {
  border-left: solid 320px transparent; }

.database-table__tr--level-9 {
  border-left: solid 360px transparent; }

.database-table__tr--level-10 {
  border-left: solid 400px transparent; }

.uk-table {
  margin: 0; }

.database-table-container {
  background-color: #fff;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05); }

.database-table__thead tr th {
  color: #333;
  font-weight: 700; }

.database-table__tr:nth-of-type(odd) {
  background-color: #f8f8f899 !important; }

.database-table__tr:hover {
  background-color: rgba(57, 139, 247, 0.15) !important; }

.database-table__tr td:first-child {
  position: relative; }
  .database-table__tr td:first-child::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    left: -10px;
    top: 0;
    background-color: #173b9a; }
  .database-table__tr td:first-child::before:last-child {
    height: 50%; }
  .database-table__tr td:first-child::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    left: -10px;
    top: 50%;
    background-color: #173b9a; }

.database-table__tr--level-0 td:first-child::before, .database-table__tr--level-0 td:first-child::after {
  content: none; }

.database-table__tr--last-of-level td:first-child::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 50%;
  left: -10px;
  top: 0;
  background-color: #173b9a; }

.left-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  min-width: 260px;
  background-color: #fff;
  font-size: 1em;
  font-weight: 500;
  height: 100vh;
  overflow-y: auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25); }

.left-nav__logo {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 25px;
  margin-bottom: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25); }
  .left-nav__logo:hover {
    color: #fff !important;
    background-color: #398bf7; }
    .left-nav__logo:hover i {
      color: #fff; }
  .left-nav__logo i {
    margin-right: 10px;
    color: #398bf7; }

.left-nav__ul {
  margin: 0;
  margin-bottom: 15px; }

.left-nav__category-icon {
  position: absolute;
  top: 9px;
  left: 22px; }

.left-nav__category-title {
  text-transform: uppercase;
  color: #398bf7;
  font-size: 1.2em;
  position: relative; }

.left-nav__category-li {
  display: flex;
  text-transform: capitalize; }

.left-nav__category-link {
  width: 100%; }
  .left-nav__category-link:hover {
    background-color: #398bf7;
    color: #fff !important; }

.left-nav__category-link--active {
  background-color: #398bf7;
  color: #fff !important; }

.left-nav__category-title, .left-nav__category-link {
  padding: 5px 25px 5px 50px; }

.left-nav__category-link {
  color: #333; }
  .left-nav__category-link:hover {
    text-decoration: none;
    color: #333; }

.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 400;
  width: 100%;
  height: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding-right: 30px;
  padding-left: 290px;
  font-size: 1em;
  font-weight: 500;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25); }

.top-nav__nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

.top-nav__current-page-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 500;
  color: #398bf7; }

.top-nav__ul {
  display: flex;
  margin: 0;
  height: 100%; }

.top-nav__li {
  padding: 0 20px;
  height: 100%;
  position: relative; }
  .top-nav__li:last-child::after {
    content: none; }
  @media only screen and (max-width: 1440px) {
    .top-nav__li {
      padding: 0 10px; } }
  .top-nav__li::after {
    content: '';
    position: absolute;
    top: 32%;
    right: 0;
    height: 40%;
    width: 1px;
    background-color: #333; }

.top-nav__link {
  display: flex;
  align-items: center;
  height: 100%;
  text-transform: capitalize;
  letter-spacing: .7px;
  height: 100%; }
  .top-nav__link:hover {
    color: #398bf7; }

.top-nav__link--active {
  font-weight: 900;
  position: relative; }
  .top-nav__link--active:hover {
    color: inherit; }
  .top-nav__link--active::before {
    content: '';
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background-color: #398bf7; }

.top-nav__user-container {
  display: flex;
  justify-content: center;
  align-items: center; }

.top-nav__user-name {
  text-transform: capitalize;
  margin: 0;
  margin-right: 10px; }

.top-nav__user-logout-icon {
  color: #398bf7;
  cursor: pointer; }
  .top-nav__user-logout-icon:hover {
    color: #333; }

.search-and-add-table-panel-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: #fff;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 15px; }

.search-and-add-table-panel__search-field {
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.05); }

.search-and-add-table-panel__search-field-icon {
  color: #398bf7; }

.search-and-add-table-panel-container__add-btn {
  font-size: 1em;
  font-weight: 500;
  color: #398bf7;
  border-color: #398bf7;
  border-radius: 5px;
  margin-right: 5px; }
  .search-and-add-table-panel-container__add-btn:last-child {
    margin: 0; }
  .search-and-add-table-panel-container__add-btn:hover {
    color: #fff;
    border-color: #398bf7;
    background-color: #398bf7; }
  @media only screen and (max-width: 1100px) {
    .search-and-add-table-panel-container__add-btn {
      line-height: 30px;
      padding: 0 15px; } }

.search-and-add-table-panel-container__add-btn--accent {
  background-color: #2dd1ac;
  color: #fff;
  border-color: #2dd1ac; }

/* width */
::-webkit-scrollbar {
  width: 5px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

ul {
  list-style-type: none;
  padding: 0; }

a {
  color: #333;
  transition: 0.15s ease-in-out; }
  a:hover {
    text-decoration: none;
    color: #333; }

a, i {
  transition: 0.15s ease-in-out; }

.common-page {
  font-size: 14px;
  background-color: #ebeff3;
  padding-top: 88px;
  padding-bottom: 45px;
  padding-right: 30px;
  padding-left: 290px; }
  @media only screen and (max-width: 1440px) {
    .common-page {
      font-size: 14px; } }
  @media only screen and (max-width: 1100px) {
    .common-page {
      font-size: 12px; } }
